[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pydoe = "*"
gpy = "*"
scikit-fuzzy = "*"
pytest = "*"
typing = "*"
cson = "*"
matplotlib = "*"
optproblems = "*"
diversipy = "*"
colorlog = "*"
mypythontools = {git = "https://github.com/mdonaka/MyPythonTools.git"}

[requires]
python_version = "3.8"
