[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
pydoe = "*"
gpy = "*"
scikit-fuzzy = "*"
pytest = "*"
typing = "*"
cson = "*"

[requires]
python_version = "3.8"
