{
	# 試行回数
	trial: 15,

	# 初期解数
	ini:5,

	# 世代数(評価回数 = 初期解数 + 世代数)
	gen:5,

	# 目的数
	obj: 2,

	# 設計変数数
	dim: 3,

	# 対象問題(可能な問題一覧:Functions/FunctionSelecter)
	problem: "ZDT6",

	# 手法(可能な手法一覧:Optimizer/Search/SearchSelector)
	method: "parEGO"

	# 各探索メカニズムにおけるモデル上評価回数
	mEval:1000
}
